<template>
  <div id="app">
    <h2>
      <span>Show User Information</span>
    </h2>

    <main>
      <div class="row">
        <div class="col-sm-4">
          <input type="submit" class="btn showUser" @click="showUsers" value="Show User Name">
        </div>
        <div class="col-sm-4">
          <input type="submit" class="btn showComment" @click="showComments" value="Show Comments">
        </div>

        <div class="col-sm-4">
          <input type="submit" class="btn showPost" @click="showPosts" value="Show Posts">
        </div>
      </div>

      <ul class="card">
        <li v-for="user in users" :key="user.id">{{user.name}}</li>
      </ul>
      <ul class="card">
        <li v-for="post in posts" :key="post.id">{{post.title}}</li>
      </ul>
      <ul class="card">
        <li v-for="comment in comments" :key="comment.id">{{comment.name}}</li>
      </ul>
    </main>
    <main>
      <h2>
        <span>Handling the request Vue-Cli and Axios</span>
      </h2>
      <h3>the button to get Random jokes</h3>
      <button id="btn" class @click="getJokes">Get Jokes</button>

      <div v-if="loading">
        <img src="loader.gif">
        Loading.....
      </div>

      <div class="wrapper">
        <div class="row">
          <div v-for="joke in jokes" :key="joke.id">
            <div class="col-md-4 cards ml-5 mr-5">
              <img class="img-fluid" src="https://placeimg.com/300/300/nature">
              <div>
                <h3>{{ joke.id }}</h3>
                <p>{{ joke.joke }}</p>
                <p>{{ joke.category }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
export default {
  name: "ShowAPI",
  data() {
    return {
      users: [],
      posts: [],
      comments: [],

      jokes: [],
      loading: false
    };
  },

  methods: {
    showUsers() {
      this.posts = [];
      this.comments = [];
      if (!this.users.length)
        axios
          .get("https://jsonplaceholder.typicode.com/users")
          .then(response => {
            this.users = response.data;
          });
      else this.users = [];
    },
    showPosts() {
      this.users = [];
      this.comments = [];
      if (!this.posts.length)
        axios
          .get("https://jsonplaceholder.typicode.com/posts")
          .then(response => {
            this.posts = response.data;
          });
      else this.posts = [];
    },
    showComments() {
      this.users = [];
      this.posts = [];
      if (!this.comments.length)
        axios
          .get("https://jsonplaceholder.typicode.com/comments")
          .then(response => {
            this.comments = response.data;
          });
      else this.comments = [];
    },
    getJokes: function() {
      this.loading = true;
      if (!this.jokes.length) {
        axios.get("http://api.icndb.com/jokes/random/10").then(
          response => {
            this.loading = false;
            this.jokes = response.data.value;
          },
          error => {
            this.loading = false;
          }
        );
      } else this.jokes = [];
    }
  }
};
</script>
<style>
body {
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.card {
  text-align: left;
}
.showComment {
  text-align: center;
}
.showPost {
  text-align: right;
}

main {
  text-align: center;
  margin-top: 40px;
}

h2 {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495e;
  color: #ffffff;
}

h2 span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 18px;
}

button {
  background: #51b767;
  color: #ffffff;
  padding: 15px;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid;
}

.cards {
  background: #f5f5f5;
  height: 400px;
}
.cards:hover {
  transform: translateY(-0.5em);
  background: #ebebeb;
}

.cards {
  column-count: 1;
  column-gap: 1em;
  margin-top: 70px;
}
</style>
