<template>
  <div id="app">
    <ShowAPI/>
  </div>
</template>

<script>
import ShowAPI from "./components/ShowAPI.vue";
window.axios=require('axios')

export default {
  name: "app",
  mounted() {
    axios.get("https://jsonplaceholder.typicode.com/posts").then(response => {
      this.users = response.data;
    });
  },
  components: {
    ShowAPI
  },
  data() {
    return{
      
    }
  },
  methods: {
    
}
}
</script>
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
